@charset "UTF-8";

@import 'functions';
@import 'variables';

// Mixins
@import 'mixins';

.section1 {
	.unique-container {
		position: relative;
		.swiper-control {
			position: absolute;
			z-index: 2;
			right: -1px;
			bottom: 0;
			background-color: #fff;
			border: 1px solid #ddd;
			padding: rem(15) rem(10);
			width: rem(150);
			text-align: center;
			// .page {
			// 	width: rem(75);
			// }
			.tit {
				letter-spacing: letterSpacing(-25);
				font-family: $font-family-sub;
				font-weight: 500;
				font-size: rem(16);
			}
			.total {
				color: #666666;
				font-family: $font-family-sub;
				//font-weight: 300;
			}
			@include mdq-max(lg) {
				padding: rem(10) rem(5);
				right: 0;
			}
		}
	}

	.unique-slide-thumb {
		flex: 0 0 percentage(1032/2560);
		max-width: percentage(1032/2560);

		@media (max-width: 2200px) {
			flex: 0 0 percentage(1032/2200);
			max-width: percentage(1032/2200);
		}

		@media (max-width: 1920px) {
			flex: 0 0 percentage(1032/1920);
			max-width: percentage(1032/1920);
		}
		@include mdq-max(lg) {
			flex: 1 0 100%;
			max-width: 100%;
		}
	}

	.slide-txt {
		flex: 1 1 auto;
		width: 1%;
		border: 1px solid #dddddd;
		height: inherit;
		margin-right: 13vw;

		@media (max-width: 2200px) {
			margin-right: 17.5vw;
		}

		@media (max-width: 2100px) {
			margin-right: 15vw;
		}

		@media (max-width: 1980px) {
			margin-right: 14vw;
		}

		@media (max-width: 1920px) {
			margin-right: 12.8vw;
		}

		@media (max-width: 1880px) {
			margin-right: 12vw;
		}

		@media (max-width: 1850px) {
			margin-right: 11.5vw;
		}

		@media (max-width: 1780px) {
			margin-right: 10vw;
		}

		@media (max-width: 1680px) {
			margin-right: 9vw;
		}

		@media (max-width: 1580px) {
			margin-right: 4vw;
		}
		/* 
	

		@media (max-width: 2000px) {
			flex: 0 0 percentage(790/2000);
			max-width: percentage(790/2000);
		}

		@media (max-width: 1950px) {
			flex: 0 0 percentage(770/1950);
			max-width: percentage(770/1950);
		}

		@media (max-width: 1920px) {
			flex: 0 0 percentage(628/1920);
			max-width: percentage(628/1920);
		}

		@media (max-width: 1880px) {
			flex: 0 0 percentage(650/1880);
			max-width: percentage(650/1880);
		} */

		@include mdq-max(xxl) {
			flex: 1 1 auto;
			max-width: none;
			width: 1%;
			margin-right: 1.3vw;
		}
		@include mdq-max(lg) {
			flex: 1 0 100%;
			max-width: 100%;
			width: auto;
			margin-top: -1px;
			margin-right: 0;
		}
		.swiper-slide {
			position: relative;
			height: 100%;
			.text-wrap {
				position: relative;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				text-align: center;
				@include mdq-max(lg) {
					padding: rem(40) 20px;
				}
			}
			.tit {
				font-size: rem(40);
				@include mdq-max(md) {
					font-size: rem(30);
				}
			}
			.text {
				font-size: rem(18);
			}
			.txt-num {
				font-size: em(80);
				color: #d7d7d7;
				font-family: $font-family-sub;
				font-weight: 300;
				letter-spacing: letterSpacing(-70);
				text-transform: uppercase;
				opacity: 0.4;
				position: absolute;
				bottom: em(-20, 90);
				right: em(-7, 90);
				line-height: 1;

				@media (max-width: 1920px) {
					font-size: em(90);
				}

				@include mdq-max(xxxl) {
					font-size: em(70);
				}
				@include mdq-max(md) {
					font-size: em(50);
					right: em(-2, 50);
				}
			}
		}
	}
}

.section2 {
	position: relative;
	.section-title {
		.tit {
			position: relative;
			&::before {
				content: '';
				display: block;
				background-color: #666;
				width: rem(68);
				height: 1px;
				position: absolute;
				bottom: -50%;
				left: 50%;
				transform: translateX(-50%);
				opacity: 0.6;
			}
		}
	}
	.text-line {
		width: rem(68);
		background: #666;
		opacity: 0.6;
	}

	.image-box {
		flex: 0 0 percentage(760/1400);
		max-width: percentage(760/1400);
		@include mdq-max(lg) {
			flex: 1 0 100%;
			max-width: 100%;
		}
	}
}
