/* Made by Masstige */
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    transform: translateY(0);
  }
}
.section {
  overflow: hidden;
}
.section.active {
  animation-name: slideInUp;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

.sub-main {
  overflow-x: hidden;
}

.section-left .kind__box {
  position: relative;
}
.section-left .kind__box::before {
  content: "";
  display: block;
  background-color: #f6f6f6;
  width: 90%;
  height: 80%;
  margin-top: 150px;
  position: absolute;
  left: 0;
  z-index: -1;
}
@media all and (max-width: 1024px) {
  .section-left .kind__box::before {
    margin-top: 120px;
  }
}
@media all and (max-width: 768px) {
  .section-left .kind__box::before {
    display: none;
  }
}

.section-right .kind__box {
  position: relative;
}
.section-right .kind__box::before {
  content: "";
  display: block;
  background-color: #f6f6f6;
  width: 90%;
  height: 80%;
  margin-top: 150px;
  position: absolute;
  right: 0;
  z-index: -1;
}
@media all and (max-width: 1024px) {
  .section-right .kind__box::before {
    margin-top: 120px;
  }
}
@media all and (max-width: 768px) {
  .section-right .kind__box::before {
    display: none;
  }
}

.kind__box .image-box {
  position: relative;
}
.kind__box .image-box .hover-box {
  position: absolute;
  top: 0;
  left: 50%;
  width: 20.3125rem;
  height: 40.625rem;
}
.kind__box .image-box .plus-btn {
  display: inline-block;
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  line-height: 1.25rem;
  background-color: rgba(114, 163, 235, 0.9);
  color: #fff;
  font-size: 0.875em;
  border-radius: 50%;
}
@media all and (max-width: 768px) {
  .kind__box .image-box .plus-btn {
    width: 1.5625rem;
    height: 1.5625rem;
    line-height: 1.5625rem;
    font-size: 0.9375em;
  }
}
@media all and (max-width: 768px) {
  .kind__box .text-box {
    background: #f6f6f6;
  }
}

#kind1 .hover-box {
  transform: translateX(-40%);
}
@media all and (max-width: 1200px) {
  #kind1 .hover-box {
    width: 28%;
    height: 100%;
  }
}
@media all and (max-width: 768px) {
  #kind1 .hover-box {
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
  }
}
#kind1 .plus-btn.btn1 {
  left: 3%;
  top: 8%;
}
@media all and (max-width: 768px) {
  #kind1 .plus-btn.btn1 {
    top: 11%;
  }
}
#kind1 .plus-btn.btn2 {
  left: 80%;
  top: 10%;
}
@media all and (max-width: 768px) {
  #kind1 .plus-btn.btn2 {
    top: 13%;
  }
}
#kind1 .plus-btn.btn3 {
  left: 93%;
  top: 9%;
}
@media all and (max-width: 768px) {
  #kind1 .plus-btn.btn3 {
    top: 11%;
  }
}
#kind1 .plus-btn.btn4 {
  left: 33%;
  top: 25%;
}
@media all and (max-width: 768px) {
  #kind1 .plus-btn.btn4 {
    left: 31%;
  }
}
#kind1 .plus-btn.btn5 {
  left: 97%;
  top: 45%;
}
#kind1 .plus-btn.btn6 {
  left: 92%;
  top: 53%;
}
#kind1 .plus-btn.btn7 {
  left: 47%;
  top: 68%;
}
@media all and (max-width: 768px) {
  #kind1 .plus-btn.btn7 {
    top: 72%;
  }
}
#kind1 .plus-btn.btn8 {
  left: 10%;
  top: 88%;
}
@media all and (max-width: 768px) {
  #kind1 .plus-btn.btn8 {
    top: 91%;
  }
}
#kind1 .plus-btn.btn9 {
  left: 80%;
  top: 88%;
}
@media all and (max-width: 768px) {
  #kind1 .plus-btn.btn9 {
    top: 91%;
  }
}
#kind1 .plus-btn.btn10 {
  left: 95%;
  top: 89%;
}
@media all and (max-width: 768px) {
  #kind1 .plus-btn.btn10 {
    top: 92%;
  }
}

#kind2 .hover-box {
  transform: translateX(-65%);
}
@media all and (max-width: 1200px) {
  #kind2 .hover-box {
    width: 28%;
    height: 100%;
  }
}
@media all and (max-width: 768px) {
  #kind2 .hover-box {
    transform: translateX(-50%);
    width: 62%;
    height: 100%;
  }
}
#kind2 .plus-btn.btn1 {
  left: 3%;
  top: 9%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn1 {
    top: 12%;
  }
}
#kind2 .plus-btn.btn2 {
  left: 72%;
  top: 10%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn2 {
    top: 13%;
  }
}
#kind2 .plus-btn.btn3 {
  left: 93%;
  top: 9%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn3 {
    top: 12%;
  }
}
#kind2 .plus-btn.btn4 {
  left: 2%;
  top: 20%;
}
#kind2 .plus-btn.btn5 {
  left: 69%;
  top: 30%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn5 {
    left: 67%;
  }
}
#kind2 .plus-btn.btn6 {
  left: 72%;
  top: 33%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn6 {
    left: 68%;
  }
}
#kind2 .plus-btn.btn7 {
  left: 97%;
  top: 43%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn7 {
    left: 94%;
  }
}
#kind2 .plus-btn.btn8 {
  left: 4%;
  top: 53%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn8 {
    left: 2%;
  }
}
#kind2 .plus-btn.btn9 {
  left: 68%;
  top: 52%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn9 {
    left: 64%;
    top: 55%;
  }
}
#kind2 .plus-btn.btn10 {
  left: 48%;
  top: 69%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn10 {
    top: 70%;
  }
}
#kind2 .plus-btn.btn11 {
  left: 86%;
  top: 90%;
}
@media all and (max-width: 768px) {
  #kind2 .plus-btn.btn11 {
    left: 83%;
    top: 93%;
  }
}

#kind3 .hover-box {
  transform: translateX(-30%);
}
@media all and (max-width: 1200px) {
  #kind3 .hover-box {
    width: 28%;
    height: 100%;
  }
}
@media all and (max-width: 768px) {
  #kind3 .hover-box {
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
  }
}
#kind3 .plus-btn.btn1 {
  left: 3%;
  top: 8%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn1 {
    top: 6%;
  }
}
#kind3 .plus-btn.btn2 {
  left: -5%;
  top: 12%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn2 {
    top: 11%;
  }
}
#kind3 .plus-btn.btn3 {
  left: 40%;
  top: 14%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn3 {
    top: 13%;
  }
}
#kind3 .plus-btn.btn4 {
  left: 85%;
  top: 12%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn4 {
    left: 95%;
    top: 11%;
  }
}
#kind3 .plus-btn.btn5 {
  left: 3%;
  top: 32%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn5 {
    left: 7%;
  }
}
#kind3 .plus-btn.btn6 {
  left: 73%;
  top: 54%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn6 {
    left: 82%;
    top: 55%;
  }
}
#kind3 .plus-btn.btn7 {
  left: 40%;
  top: 67%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn7 {
    left: 45%;
    top: 72%;
  }
}
#kind3 .plus-btn.btn8 {
  left: -5%;
  top: 90%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn8 {
    top: 92%;
  }
}
#kind3 .plus-btn.btn9 {
  left: 67%;
  top: 90%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn9 {
    left: 77%;
    top: 92%;
  }
}
@media all and (max-width: 768px) and (max-width: 375px) {
  #kind3 .plus-btn.btn9 {
    left: 70%;
  }
}
#kind3 .plus-btn.btn10 {
  left: 77%;
  top: 90%;
}
@media all and (max-width: 768px) {
  #kind3 .plus-btn.btn10 {
    left: 87%;
    top: 92%;
  }
}

#kind4 .hover-box {
  transform: translateX(-65%);
}
@media all and (max-width: 1200px) {
  #kind4 .hover-box {
    width: 28%;
    height: 100%;
  }
}
@media all and (max-width: 768px) {
  #kind4 .hover-box {
    transform: translateX(-55%);
    width: 60%;
    height: 100%;
  }
}
#kind4 .plus-btn.btn1 {
  left: 8%;
  top: 8%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn1 {
    top: 11%;
  }
}
#kind4 .plus-btn.btn2 {
  left: 45%;
  top: 9%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn2 {
    top: 11%;
  }
}
#kind4 .plus-btn.btn3 {
  left: 70%;
  top: 9%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn3 {
    top: 12%;
  }
}
#kind4 .plus-btn.btn4 {
  left: 85%;
  top: 10%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn4 {
    top: 14%;
  }
}
#kind4 .plus-btn.btn5 {
  left: 98%;
  top: 9%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn5 {
    top: 14%;
  }
}
#kind4 .plus-btn.btn6 {
  left: 35%;
  top: 25%;
}
#kind4 .plus-btn.btn7 {
  left: 98%;
  top: 37%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn7 {
    top: 42%;
  }
}
#kind4 .plus-btn.btn8 {
  left: 105%;
  top: 47%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn8 {
    top: 50%;
  }
}
#kind4 .plus-btn.btn9 {
  left: 50%;
  top: 68%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn9 {
    top: 72%;
  }
}
#kind4 .plus-btn.btn10 {
  left: 7%;
  top: 89%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn10 {
    left: 10%;
    top: 92%;
  }
}
#kind4 .plus-btn.btn11 {
  left: 82%;
  top: 89%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn11 {
    left: 83%;
    top: 91%;
  }
}
#kind4 .plus-btn.btn12 {
  left: 93%;
  top: 90%;
}
@media all and (max-width: 768px) {
  #kind4 .plus-btn.btn12 {
    left: 96%;
    top: 92%;
  }
}

@media all and (max-width: 768px) {
  .tooltipster-light {
    width: 190px !important;
    height: 220px !important;
  }
}
/*# sourceMappingURL=kind.css.map */