/* Made by Masstige */
@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0);
  }
}
.section {
  position: relative;
}
.section::before {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 18%;
  width: 42.7083333333%;
  height: 50%;
  background-color: #f8f8f8;
}
@media all and (max-width: 1024px) {
  .section::before {
    display: none;
  }
}
.section.section2::before, .section.section4::before, .section.section6::before {
  right: 0;
}
.section .swiper-container.variety-container {
  overflow: visible;
}
@media all and (max-width: 1024px) {
  .section .swiper-container.variety-container {
    overflow: hidden;
  }
}
.section .swiper-slide .slide-img {
  position: relative;
}
.section .swiper-slide .slide-img .img-title {
  position: absolute;
  bottom: 0%;
  right: 0;
  font-size: 6.875rem;
  font-weight: 300;
  font-family: "GmarketSans", "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Times New Roman", "Palatino Linotype", "Book Antiqua", Georgia, Times, Palatino, serif;
  letter-spacing: -0.07em;
  color: #fff;
  line-height: 0.7;
  opacity: 0.5;
}
@media all and (max-width: 1400px) {
  .section .swiper-slide .slide-img .img-title {
    font-size: 8vw;
  }
  .section .swiper-slide .slide-img .img-title.__large {
    font-size: 7vw;
  }
}
@media all and (max-width: 1024px) {
  .section .swiper-slide .slide-img .img-title {
    font-size: 10vw !important;
  }
}
.section .swiper-control {
  position: absolute;
  top: -4.25rem;
  z-index: 10;
}
@media all and (max-width: 1024px) {
  .section .swiper-control {
    position: relative !important;
    width: 100% !important;
    margin-top: 1.875rem !important;
    left: 0 !important;
    right: 0 !important;
    top: auto;
  }
  .section .swiper-control .d-flex {
    justify-content: flex-end !important;
  }
}
.section .swiper-control .page {
  display: flex;
  flex-direction: column;
  background: url("../images/main/line.png") no-repeat;
  background-position: 50%;
}
.section .swiper-control .page .now {
  color: #72a3eb;
  font-size: 1.25em;
}
.section .swiper-control .page .total {
  color: #666666;
  font-size: 1.25em;
}
.section .swiper-control .swiper-button {
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 1.25rem;
}
@media all and (max-width: 768px) {
  .section .swiper-control .swiper-button {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
}
@media all and (max-width: 576px) {
  .section .swiper-control .swiper-button {
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
}
.section .swiper-control .swiper-button i {
  color: #222;
}
@media all and (max-width: 768px) {
  .section .swiper-control .now,
.section .swiper-control .total {
    font-size: 1rem !important;
  }
}
@media all and (max-width: 576px) {
  .section .swiper-control .now,
.section .swiper-control .total {
    font-size: 0.875rem !important;
  }
}
.section .inner__odd .inner-item {
  position: relative;
}
.section .inner__odd .inner-item .control__odd {
  right: 0;
}
.section .inner__odd .slide-img {
  position: relative;
}
.section .inner__even .slide-img {
  position: relative;
}
.section .inner__even .slide-img::before {
  content: "";
  display: block;
  left: 50%;
  margin-left: 0;
}
@media all and (max-width: 768px) {
  .section .inner__even .slide-img::before {
    display: none;
  }
}
.section .control__even {
  right: 0;
}
@media all and (min-width: 1024.02px) {
  .section .control__even {
    left: 0;
  }
}
.section.active {
  animation-name: slideInUp;
  animation-duration: 1.2s;
  animation-fill-mode: both;
}

.slide-inner .inner-item {
  flex: 1 0 60%;
  max-width: 60%;
}
@media all and (max-width: 1024px) {
  .slide-inner .inner-item {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
.slide-inner .inner-txt {
  padding-right: 20px;
  /* 	img:not(.text-img) {
  	@include mdq-max(lg) {
  		max-width: 60%;
  	}
  	@include mdq-max(sm) {
  		max-width: 100%;
  	}
  } */
}
@media all and (max-width: 1024px) {
  .slide-inner .inner-txt {
    padding-right: 0;
  }
}
@media all and (max-width: 768px) {
  .slide-inner .inner-txt-1 .text-box {
    min-height: 18.75rem;
  }
  .slide-inner .inner-txt-2 .text-box {
    min-height: 21.875rem;
  }
  .slide-inner .inner-txt-6 .text-box {
    min-height: 18.75rem;
  }
}
/*# sourceMappingURL=variety.css.map */