@charset "UTF-8";

//공통

.section1 {
	.banner-top {
		&.img-bx {
			@include img-to-bg(percentage(500/1400));
		}
	}
}

.section2 {
	.banner-bottom {
		@include img-to-bg(percentage(500/960));
	}
	.text-wrap {
		height: auto;
		flex: 0 0 28%;
		max-width: 28%;
		@include mdq-max(lg) {
			flex: 1 0 100%;
			max-width: 100%;
		}
	}
	.text-bg {
		margin-top: 50px;
		position: relative;
		background-color: #f8f8f8;
		width: 700px;
		height: 100%;
		display: flex;
		align-items: center;

		@media all and (max-width: 1440px) {
			width: 173%;
			height: 100%;
		}
		@include mdq-max(lg) {
			margin-top: 0;
			height: auto;
			width: auto;
			display: block;
		}
		&::before {
			content: '';
			position: absolute;
			width: 115%;
			height: inherit;
			z-index: -1;
			background-color: #f8f8f8;
			top: 0;
			right: 30%;
			@include mdq-max(lg) {
				display: none;
			}
		}
		.title {
			font-size: em(40);
			color: #222222;
			margin-bottom: rem(5);

			@include mdq-max(lg) {
				font-size: em(30);
			}
		}
		.des {
			font-size: em(20);
			line-height: 1.7;
			@include mdq-max(md) {
				font-size: em(18);
			}
		}
		.text-bx {
			// position: absolute;
			// top: 20%;
			// left: 0;
			// bottom: 0;
			padding: rem(10) rem(70);
			// display: flex;
			// flex-direction: column;

			@include mdq-max(xl) {
				//position: relative;
				//top: 0;
				padding: rem(20) rem(50);
				//justify-content: center;
			}
			@include mdq-max(lg) {
				padding: rem(40) 20px;
			}
		}
	}
}

.section3 {
	.tab-header {
		margin: 0 0 rem(30);
		justify-content: flex-start;
		flex-wrap: wrap;
		border-bottom: 1px solid #222;
		.tab-item {
			padding: 0;
			flex: 1 0 20%;
			max-width: 20%;
			.link {
				background-color: #fff;
				border-color: $gray-d;
				border-bottom: 1px solid #222;
				margin-right: -1px;
				margin-bottom: -1px;
				font-size: em(18);
				font-weight: 300;

				@include mdq-max(sm) {
					font-size: 1em;
				}

				&.on {
					position: relative;
					z-index: 1;
					background-color: #fff;
					color: #222;
					//font-weight: 400;
					border-color: #222;
					border-bottom-color: #fff;
				}
			}
			&:hover {
				.link {
					color: #222;
				}
			}
		}
	}
	.tab-body {
		.tab-content {
			.des {
				background-color: #eeeeee;
				padding: rem(30) rem(20);
				font-size: em(18);
				@include mdq-max(sm) {
					font-size: 1em;
				}
			}
		}
	}
}
